extends ../layout

block content
  .container
    .row.center
      .col-md-6.down
        .panel.panel-default
          .panel-heading Profile data
          .panel-body
            if(user)
              ul
                li your ID -
                  span  #{user._id}
                li Surname -
                  span  #{user.info.surname}
                li Email -
                  span  #{user.email}
                li Address -
                  span  #{user.info.address}
                li Age -
                  span  #{user.info.age}
        if(user)
          a(href="/edit" class="link btn btn-primary") Edit Account
          span
          a(href="/product" class="link btn btn-primary") Go to products