extends ../layout

block content
    .container

        h2 Edit Your Profile

            form(role='form', action="/profile/edit", method="post", style='max-width: 300px;')
                .form-group
                    i.red email
                    input.form-control(type='text', value="#{user.profile.email}" name="email", placeholder='email')
                .form-group
                    i.red surname
                    input.form-control(type='text', value="#{user.profile.surname}"  name="surname", placeholder='surname')
                .form-group
                    i.red address
                    input.form-control(type='text', value="#{user.profile.address}" name="address", placeholder='address')
                .form-group
                    i.red phone
                    input.form-control(type='text', value="#{user.profile.phone}" name="phone", placeholder='phone')
                .form-group
                    i.red age
                    input.form-control(type='text', value="#{user.profile.age}" name="age", placeholder='age')
                button.btn.btn-success(type='submit') Submit
            form(role='form', action="/profile/delete/#{user.id}", method="post", style='max-width: 300px;')
                button.btn.btn-danger#test(type='submit') delete